{% extends 'base.html' %}

{% block title %} Persona {% endblock %}

{% block content %}


<!-- Content -->

<div class="container-fluid flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Personas</h4>
    <div class="col-md-12 d-flex flex-row-reverse mb-3">
        <button type="button" class="btn btn-primary" type="button" data-bs-toggle="modal"
            data-bs-target="#modal-register">
            <span class="tf-icons bx bx-plus-circle"></span>&nbsp; Agregar persona
        </button>
    </div>

    <div class="card">
        <h5 class="card-header">Lista de Personas</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Persona_Id</th>
                        <th>Nombre_Apellidos</th>                        
                        <th>Correo</th>
                        <th>Hora_entrada_max</th>
                        <th>Hora_salida_min</th>
                        <th>Equipo</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    <tr>
                        <td>1</td>
                        <td>Jheslyn Lagos</td>
                        <td>j.lagos@isystem-integration</td>
                        <td>9:10</td>
                        <td>5:00</td>
                        <td>Desarrolador</td>
                        <td>
                            <button type="button" class="btn btn-icon btn-primary" data-bs-toggle="tooltip"
                                title="Editar">
                                <span class="tf-icons bx bx-edit"></span>
                            </button>
                            <button type="button" class="btn btn-icon btn-danger" data-bs-toggle="tooltip"
                                title="Eliminar">
                                <span class="tf-icons bx bx-trash"></span>
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
<!-- / Content -->

<!-- Modal -->
<div class="modal fade" id="modal-register" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel1">Regitrar persona</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <label for="nameBasic" class="form-label">Nombre_Apellidos</label>
                        <input type="text" id="nameBasic" class="form-control" placeholder="xxx" />
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col mb-0">
                        <label for="emailBasic" class="form-label">Correo</label>
                        <input type="text" id="emailBasic" class="form-control" placeholder="xxxx@xxx.xx" />
                    </div>
                    <div class="col mb-0">
                        <label for="emailBasic" class="form-label">Hora_entrada_max</label>
                        <input type="text" id="emailBasic" class="form-control" placeholder="09:09" />
                    </div>                                     
                </div>
                <div class="row g-2">                    
                    <div class="col mb-0">
                        <label for="emailBasic" class="form-label">Hora_salida_min</label>
                        <input type="text" id="emailBasic" class="form-control" placeholder="17:00" />
                    </div>
                    <div class="col mb-0">
                        <label for="dobBasic" class="form-label">Equipo</label>
                        <select id="defaultSelect" class="form-select">
                            <option hidden>Seleccionar área</option>
                            <option value="1">Marketing</option>
                            <option value="2">Desarrollo</option>
                            <option value="3">Soporte</option>
                        </select>
                    </div>   
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary">Registrar</button>
            </div>
        </div>
    </div>
</div>

<div class="content-backdrop fade"></div>



{% endblock %}