{% extends 'base.html' %}

{% block title %} Persona {% endblock %}

{% block content %}




<div class="container-fluid flex-grow-1 container-p-y">
    <div class="card ">
        <h5 class="card-header">Reporte</h5>
        <div class="p-4">
            <table id="data-table" class="table table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Hora de entrada</th>
                        <th>Hora de salida</th>
                        <th>Estado de asistencia</th>
                        <th>Justificación</th>
                    </tr>
                </thead>
            </table>
        </div>

    </div>

</div>
<!-- / Content -->
<div class="content-backdrop fade"></div>


{% endblock %}